In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Metaprotein_100.csv")

In [6]:
df.tail()

,25,36,81,128,171,237,1251,1254,2499,13,...,1698,2386,309,414,424,843,1255,1978,2776,Patient.Type
43,137,2,121,104,44,32,4,6,20,53,...,0,0,70,0,0,1,0,0,11,UC
44,133,204,169,82,45,61,19,11,21,60,...,5,22,25,47,15,0,14,29,0,UC
45,369,97,117,127,58,44,14,10,24,171,...,5,19,60,14,7,2,17,24,4,UC
46,51,4,37,12,8,19,6,6,19,59,...,12,3,23,13,9,0,6,13,0,UC
47,503,412,250,209,117,24,10,12,47,596,...,0,26,29,0,19,7,10,40,13,UC